#header {
  background-image: url('https://topbike-store-demo.myshopify.com/cdn/shop/files/slideshow_4.jpg?v=1613575294');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
